@font-face {
    font-family: 'Source Code Pro Regular';
    src: url('/media/fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: 'Source Code Pro Medium';
    src: url('/media/fonts/SourceCodePro-Medium.ttf');
}
@font-face {
    font-family: 'Publica Sans';
    src: url('/media/fonts/PublicaSans-Regular.ttf');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/media/fonts/FontAwesome.ttf');
}