.friend-avator {
    border-radius: .5rem;
}

.friend-link {
    font-size: .8rem;
}

.friend-name {
    border-bottom: 1px solid #3182ce;
}

.friend-desc {
    font-size: .8rem;
}

.friends-about {
    font-size: .75rem;
}