.icon {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    display: inline-block;
    width: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.icon-home::before {
    content: "\f015";
}

.icon-archive::before {
    content: "\f187";
}

.icon-tags::before {
    content: "\f02e";
}

.icon-user::before {
    content: "\f007";
}

.icon-rss::before {
    content: "\f09e";
}

.icon-github::before {
    content: "\f09b";
}

.icon-twitter::before {
    content: "\f099";
}

.icon-weibo::before {
    content: "\f18a";
}

.icon-instagram::before {
    content: "\f16d";
}

.icon-copyright::before {
    content: "\f25e";
}