.post-title {
    border-left-width: 4px;
    border-color: #E91E63;
    padding: 0 1rem;
    background-color: #f9f9f9;
    display: inline-block;
}

.post-content h1 {
    font-size: 1.8rem;
}

.post-content table {
    display: block;
    overflow: auto;
    font-size: 14px;
    white-space: nowrap;
}

.post-content table thead,
.post-content table tbody {
    border-width: 1px 0px;
    border-color: #2c354a;
}

.post-content table td,
.post-content table th {
    border-bottom-width: 0px;
}

.border-b {
    border-bottom-width: 2px;
}

.border-t {
    border-top-width: 2px;
}

.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #E91E63;
    background-color: #f9f9f9;
    list-style: none;
    font-size: 14px;
    line-height: 2;
}

.post-copyright li {
    color: #222222
}