.search-frame {
    margin-top: 0;
    margin-right: 2rem;
    display: block;
    border-bottom: 1px solid transparent;
}

.search-frame input {
    border-bottom: 1px solid #e2e8f0;
    border-radius: 0;
    font-size: 16px;
    height: 1.5rem;
}

.search-frame input:hover {
    outline: none;
    border-bottom: 1px solid #000000;
}

.search-frame input:focus {
    outline: none;
    border-bottom: 1px solid #E91E63;
}

.search-frame form {
    display: inline-block;
}

.searching,
.no-result {
    text-align: center;
    color: #4a5568
}

.searched-keyword {
    background-color: #009999;
}