<div class="mt-6 flex justify-between">
  <% if (pagination.prev) { %>
    <a href="<%= pagination.prev %>" class="pb-px text-gray-900 hover:text-red-600">
      <i class="icon icon-prev-page"></i>
      Prev
    </a>
  <% } %>
  <% if (pagination.next) { %>
    <a href="<%= pagination.next %>" class="pb-px text-gray-900 hover:text-red-600">
      Next
      <i class="icon icon-next-page"></i>
    </a>
  <% } %>
</div>