<% if (site.customConfig.weChatPayQR) { %>
    <h4 class="text-base font-thin text-gray-700 mb-2 mt-6">
        <i class="icon icon-sponsor"></i>
        赞赏
    </h4>
    <div class="post-sponsor text-gray-700">
        <img class="post-sponsor-img w-24 h-24 md:w-32 md:h-32" src="<%= themeConfig.domain %><%= site.customConfig.weChatPayQR%>" alt="">
        <div>
            <i class="icon icon-wechat"></i>
            微信支付
        </div>
    </div>
<% } %>
