<h4 class="text-base font-thin text-gray-700 mb-2">
  <i class="icon icon-statistics"></i>
  站点统计
</h4>
<div class="text-sm text-gray-700 mb-2 ml-6">总访问量 <span id="busuanzi_value_site_pv"></span> 次</div>
<div class="text-sm text-gray-700 mb-6 ml-6">总访客数 <span id="busuanzi_value_site_uv"></span> 人</div>